  .gifrow {
    margin: 2em 0;
  }
  .gifstill {
    margin: auto;
  }
  
  .gif {
    cursor: pointer;
  }
  
  .jumbotron.imagebg {
    height: 600px;
    width: 100%;
    background-image: url("/assets/photos/rick-and-morty-watch-i50046.jpg");
    background-color: #50ae55;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #load-more {
    visibility: hidden;
  }